<div class="modal-header">
    <h4
      *ngIf="selectedProduct != null"
      class="modal-title"
    >
    </h4>
    <h4
      *ngIf="selectedProduct == null"
      class="modal-title"
    >
    Προσθήκη προιοντος 
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.close(actionCompletedSuccessfully)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-product-form
      [selectedProduct]="selectedProduct"
      (submitted)="onSubmit($event)"
    ></app-product-form>
  </div>
  <div class="modal-footer">
    <div class="btn-group" role="group" aria-label="Form Actions">
      <button
        *ngIf="selectedProduct"
        (click)="deleteProduct()"
        class="btn btn-danger"
        title="Delete Product Organization"
      >
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close(actionCompletedSuccessfully)"
        title="Close"
      >
        <fa-icon [icon]="faDoorClosed"></fa-icon>
      </button>
    </div>
  </div>
  